
#develop .container {
    display: flex;
    justify-content: center;
    background-color: #fff4ef;
    width: 100%;
}
#develop .features__item--left img {
    width: 35vw;
    aspect-ratio: 1/1;
    object-fit: contain;
}
#develop .feature__mobile--left .feature__icon i {
    background: var(--purple);
    border: 1px solid var(--purple);
}
#develop .feature__mobile--left:hover .feature__icon i{
    background: snow;
    color: var(--purple);
    box-shadow: 0.1rem 0.1rem 1rem 0 #c6bee4;
}
#develop .feature__mobile--right .feature__icon i {
    background: #ff7235;
    border: 1px solid #ff7235;
}
#develop .feature__mobile--right:hover .feature__icon i{
    background: snow;
    color: #ff7235;
    box-shadow: 0.1rem 0.1rem 1rem 0 #ddaf9b;
}
@media (max-width: 1300px) {
    #develop .features__item--left img {
        width: 43vw;
    }    
}
@media (max-width: 1024px) {
    #develop .features__item--left img {
        position: absolute;
        left: -4rem;
    }
    #develop .features__item--left {
        position: absolute;
        -webkit-filter: blur(2px);
        filter: blur(2px);
    }

    #develop .features__item--right {
        max-width: 70%;
        z-index: 1;
        background: rgba(255, 255, 255, 0.65);
    }
}
@media (max-width: 800px) {
    #develop .features__wrapper {
        gap: 15rem;
    }
    #develop .container {
        gap: 0;
    }

}
