#header {
    top: 0;
    width: 100%;
    position: fixed;
    background: #f2f2f2;
    z-index: 1000;
    box-shadow: 0rem -1.5rem 3rem 2rem rgb(128 128 128 / 13%);
    -webkit-box-shadow: 0rem -1.5rem 3rem 2rem rgb(128 128 128 / 13%);
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 1%;
}
.navbar__logo img {
    height: 7rem;
}
.navbar__menulist {
    display: inline-block;
    margin: 0 1.5rem;
}
.navbar__menulink {
    color: var(--dark-color);
    transition: all 0.4s ease-in-out;
}
.navbar__menulink:hover {
    color: var(--purple);
    transition: all 0.4s ease-in-out;
}
.navbar__toggle {
    display: none;
}
.navbar__toggle input {
    font-size: 2rem;
    display: none;
}
.navbar__toggle label {
    font-size: 3rem;
    color: var(--purple);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width: 700px) {
    .navbar__toggle {
        display: block;
    }
    .navbar__toggle label {
        visibility: visible;
        opacity: 1;
    }
    nav.navbar .navbar__menu {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 1rem 2rem;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }
    nav.navbar .navbar__menu .navbar__menulist {
        display: block;
        margin: 2rem 0;
        font-size: 1.6rem;
    }
    input#navbar__toggle--chk:checked ~ .navbar__menu {
        transform: scaleY(1) !important;
        opacity: 1 !important;
        z-index: 1000;
    }
    input#navbar__toggle--chk:checked ~ label::before {
        content: '\f00d';
    }
}
@media screen and (max-width: 450px) {
    html {
        font-size: 50%;
    }
}
