#hero {
    min-height: 80vh;
    margin-top: 15rem;
}

.hero__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero__left--item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 580px;
    width: 100%;
}
.hero__left--item h1 {
    font-size: 7rem;
    color: var(--dark-color);
    margin-bottom: 2.5rem;
    line-height: 8rem;
}

.hero__left--item p {
    color: var(--secondary-color);
    font-size: 1.7rem;
}

.left--item__demo {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
}

.hero__btn {
    padding: 1.5rem 2.5rem;
    margin-right: 1rem;
}

.hero__right--item {
    max-width: 580px;
    width: 100%;
    opacity: 0.9rem;
}
.hero__right--item img {
    width: 45vw;
}
.design {
    height: 6rem;
    position: relative;
    margin: -4px -4px;
    transform: rotateY(180deg);
    background-color: orange;
    border-radius: 50%;
    padding: 0.9em;
    overflow: hidden;
}
.hero__circles {
    position: relative;
    right: -30rem;
    top: -16rem;
}
.hero__circles--green {
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    width: 5rem;
}
.hero__circles--green i {
    transform: rotate(-80deg);
    font-size: 3rem;
    color: rgb(19, 19, 247);
}
.hero__circles--yellow {
    width: 2rem;
    height: 2rem;
    background-color: rgb(241, 210, 69);
    border-radius: 50%;
    position: absolute;
    left: -1rem;
    top: 1.5rem;
    z-index: 2;
}
.hero__circles--red {
    width: 2rem;
    height: 2rem;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: -1rem;
    top: 1.5rem;
    z-index: 0;
}
@media screen and (max-width: 1024px) {
    .hero__left--item h1 {
        font-size: 5rem;
    }
    .hero__btn {
        margin-bottom: 2rem;
    }
    .left--item__demo {
        flex-direction: column;
        align-items: flex-start;
    }
    .hero__left--item {
        margin-left: 5%;
    }
}
@media screen and (max-width: 700px) {
    .hero__left--item {
        z-index: 1;
    }
    .hero__right--item {
        position: absolute;
        -webkit-filter: blur(4px);
        filter: blur(4px);
    }
    .hero__right--item img {
        width: 70vw;
    }
}
