#hero{
    padding: 2.7em 0;
}
.hero__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    align-items: center;
}

.hero__left--item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    gap: 4rem;
}
.hero__left--item h1 {
    font-size: clamp(3.5rem, 5vw, 7rem);
    color: var(--dark-color);
    line-height: calc(1em + 0.5rem);
    text-transform: capitalize;
}

.hero__left--item p {
    color: var(--secondary-color);
    font-size: 1.7rem;
}

.left--item__demo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero__btn {
    padding: 1.5rem 2.5rem;
    margin-right: 1rem;
}

.hero__right--item img {
    width: 80%;
}
.design {
    height: 6rem;
    position: relative;
    margin: -4px -4px;
    transform: rotateY(180deg);
    background-color: orange;
    border-radius: 50%;
    padding: 0.9em;
    overflow: hidden;
}
.hero__circles {
    position: absolute;
    left: 40%;
    top: 24%;
}
.hero__circles--green {
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    width: 5rem;
}
.hero__circles--green i {
    transform: rotate(-80deg);
    font-size: 3rem;
    color: rgb(19, 19, 247);
}
.hero__circles--yellow {
    width: 2rem;
    height: 2rem;
    background-color: rgb(241, 210, 69);
    border-radius: 50%;
    position: absolute;
    left: -1rem;
    top: 1.5rem;
    z-index: 2;
}
.hero__circles--red {
    width: 2rem;
    height: 2rem;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: -1rem;
    top: 1.5rem;
    z-index: 0;
}
@media screen and (max-width: 1400px) {
    .hero__circles {
        left: 46%;
        top: 22%;
    }
}
@media screen and (max-width: 1024px) {
    .left--item__demo {
        flex-direction: column;
        align-items: flex-start;
    }
    .hero__left--item {
        margin-left: 5%;
    }
    .hero__circles {
        left: 47%;
        top: 15%;
    }
}
@media screen and (max-width: 928px) {
    .hero__circles{
        opacity: 0;
        visibility: hidden;
    }
}
@media screen and (max-width: 700px) {
    .hero__wrapper {
        display: grid;
        grid-template-columns: max-content;
    }
    .hero__left--item {
        z-index: 1;
    }
    .hero__right--item {
        position: absolute;
        -webkit-filter: blur(4px);
        filter: blur(4px);
    }
    .hero__right--item img {
        width: 100%;
        transform: scale(1); 
        -webkit-transform: scale(1); 
    }
    .hero__left--item h1 {
        font-size: clamp(2.5rem, 5vw, 7rem);
    }
    .hero__left--item p {
        font-size: 1rem;
    }
    .btn {
        font-size: 1.1rem;
    }
    .btn-primary {
        padding: 1.5rem;
    }
    .nav__btn{
        font-size: 2rem;
    }
    #hero {
        padding: 1.7em 0;
    }
}
