
.offers__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    align-content: center;
    min-height: inherit;
}
.offers__item--up h3 {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    font-weight: 700;
    line-height: 3.5rem;
    margin-top: 1.5rem;
    color: var(--dark-color);
}
.offers__item--down {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}
.offers__item__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers__item__img img {
    max-width: 530px;
    z-index: 1;
}
.offers__item__box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.offer__item__box h4 {
    font-size: clamp(1.8rem, 5vw, 2.1rem);
    font-weight: 600;
    margin-bottom: 1rem;
}
.offer__item__box p {
    font-size: 1.4rem;
    color: var(--secondary-color);
    text-align: justify;
}
.offer__item__box {
    border-radius: 7px;
    background-color: #fff;
    border-left-width: 3px;
    border-left-style: solid;
    padding: 2.3rem 2.6rem;
    -webkit-box-shadow: rgb(0 0 0 / 7%) 2px 10px 20px -3px,
        rgb(0 0 0 / 5%) 2px 4px 8px -2px;
    box-shadow: rgb(0 0 0 / 7%) 2px 10px 20px -3px,
        rgb(0 0 0 / 5%) 2px 4px 8px -2px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.offers__item__box .offer__item__box:nth-child(1) {
    border-color: #f27c5b;
}
.offers__item__box .offer__item__box:nth-child(2) {
    border-color: #514bd9;
}
.offers__item__box .offer__item__box:nth-child(3) {
    border-color: #3db647;
}
.offers__item__box .offer__item__box:hover {
    cursor: pointer;
    position: relative;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
}
@media (max-width: 1250px) {
    .offers__item__img img {
        max-width: 450px;
    }
}

@media (max-width: 1024px) {
    #offers {
        padding: 3rem;
    }
    .offers__item__img img {
        max-width: 400px;
    }
}
@media (max-width: 928px) {
    .offers__item--down{
        flex-direction: column;
        gap: 0;
    }
    .offers__wrapper {
        gap: 2rem;
    }
}
@media (max-width: 750px) {
    .offers__wrapper {
        gap: 0rem;
    }
    .offers__item--down {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .offer__item__box {
        width: 90vw;
    }
}
@media (max-width: 650px) {
    #offers {
        padding: 3rem;
        margin: 7rem auto;
    }
    .offers__item--down {
        gap: 3rem;
    }
    .offers__item__img img {
        max-width: 350px;
    }
    .hero__left--item {
        width: 70%;
    }
}
@media (max-width: 450px) {
    #offers {
        padding: 3rem;
        margin: 7rem auto;
    }
    .offers__item--down {
        gap: 3rem;
    }
    .offers__item__img img {
        max-width: 250px;
    }

}
