/* #our-process {
    min-height: 25vh;
    margin-top: 7rem;
} */
.process__wrapper {
    gap: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}
.process__wrapper .process__item:nth-child(1){
    grid-area: title;
}
.process__wrapper .process__item:nth-child(2){
    grid-area: content1;
}
.process__wrapper .process__item:nth-child(3){
    grid-area: content2;
}
.process__wrapper .process__item:nth-child(4){
    grid-area: content3;
}

.process__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.process__item h2 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 700;
    line-height: clamp(2.5rem, 5vw, 4rem);
    margin-bottom: 1.5rem;
    color: var(--dark-color);
}

.process__item p {
    font-size: 1.7rem;
    opacity: 0.9;
    color: var(--secondary-color);
}

.process__item--box {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    transition: all 0.3s ease-in-out;
    text-align: center;
    background-color: #f4f4ff;
}

.process__item--box i {
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    color: var(--light-color);
}

.process__item--box h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark-color);
    margin-bottom: 1.5rem;
}

.process__item--box p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
}

i.box--daily {
    background-color: #f39c12;
}

i.box--shield {
    background-color: #2980b9;
}

i.box--testing {
    background-color: #e74c3c;
}

.process__active {
    transition: all 0.3s ease-in-out;
    background-color: #f4f4ff;
}
.process__item .process__item--box:hover {
    box-shadow: 1rem 2.5rem 3rem 2rem rgb(128 128 128 / 10%);
    -webkit-box-shadow: 1rem 2.5rem 3rem 2rem rgb(128 128 128 / 10%);
    transition: all 0.3s ease-in-out;
    transform: translateY(-2rem);
    background-color: #f4f4ff;
    cursor: pointer;
}
@media screen and (max-width: 1300px) {
    .process__wrapper .process__item:nth-child(1) {
        text-align: center;
    }
    .process__wrapper {
        display: grid;
        grid-template-areas: "title title title" 
                             "content1 content2 content3" ;
    }
    .process__item {
        align-items: center;
    }
}
@media screen and (max-width: 1100px) {
    #our-process .container {
        padding: 5rem;
    } 
    .process__wrapper {
        gap: 3rem;
    }
}
@media screen and (max-width: 950px) {
/*     #our-process .container {
        margin-top: 5rem;
    } */
  .process__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: stretch;
        gap: 5rem;
    } 
    .process__item {
        align-items: initial;
        /* min-width: 530;*/
        text-align: center;
    }
}
@media screen and (max-width: 750px) {
  #our-process .process__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
    .process__wrapper {
        flex-wrap: wrap;
    } 
    .process__item {
        margin: 5% 0;
        align-items: initial;
        /*min-width: 500px;*/
        text-align: center;
    }
    .process__item--box i {
        padding: 1rem;
        font-size: 3rem;
    }
}
